# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# IDEs
.idea/
.vscode/

# Environment
.env
.flaskenv
config.py
# Instance Folder
instance/
*.db
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/


#migrations
migrations/
# Other
*.log
docs/
mein/

