.card-list {
  display: flex;
  overflow-x: auto; /* Yatay kaydırmayı etkinleştir */
  gap: 16px; /* Kartlar arasındaki boşluğu koru */
  padding-bottom: 16px; /* Kaydırma çubuğu için boşluk bırak */
}

<<<<<<< HEAD
/* Tablo başlıklarının (th) içindeki yazıyı ve dolguyu azaltalım */
.pivot-table-wrapper .ant-table-thead > tr > th {
    font-size: 11px;
    font-weight: 600;
    padding: 8px 6px !important;
}

/* Günlük veri hücrelerinin (td) dolgusunu azaltmak için eklediğimiz class */
.pivot-table-wrapper .ant-table-tbody > tr > td.compact-pivot-cell {
    padding: 4px 6px !important;
}

.clickable-card-wrapper {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
}

.clickable-card-wrapper:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 16px; 
=======
.clickable-card-wrapper {
  flex-shrink: 0; /* Öğenin küçülmesini engelle */
  width: 300px;   /* Sabit bir genişlik ata */
>>>>>>> origin/merged2.0
}