.tableRow:nth-child(odd) {
  background-color: #fafafa;
}

.tableRow:nth-child(even) {
  background-color: #ffffff;
}

.clickableRow:hover {
  background-color: #e6f7ff !important;
  cursor: pointer;
}
