.main-content-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: margin-left 0.2s ease-in-out;
  background-color: #f0f2f5;
}

.main-content {
  flex-grow: 1;
  overflow: hidden; /* Prevents scrollbars on the container */
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  background: var(--background-color-white);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-lg);
  flex-grow: 1;
  overflow-y: auto; /* Allow scrolling inside the card */
}
