/* LimitProgressBar.css */
.progress-container {
  width: 100%;
  height: 12px;
  background-color: rgb(229, 229, 229); /* Temporarily set to black for visibility check */
  border-radius: 4px;
  overflow: hidden;
  margin: 0;
}

.progress-bar {
  height: 100%;
  border-radius: 1px;
  border: 8px solid rgb(151, 180, 220); 
}

.progress-bar-safe {
  background-color: rgb(97, 80, 155); /* Yeşil */
}

.progress-bar-warning {
  background-color: #f59e0b; /* Sarı */
}

.progress-bar-danger {
  background-color: #ef4444; /* Kırmızı */
}
