:root {
  /* Primary & Accent Colors */
  --primary-color: #3a76a8;
  --primary-color-dark: #336791; /* Lighter dark blue */
  --accent-color: #e07a5f;

  --blue-color:#336791|

  /* Neutral Colors */
  --text-color-primary: #1f3a52;
  --text-color-secondary: #5a677d;
  --text-color-light: #888;
  --background-color-light: #f7f8fc;
  --background-color-white: #ffffff;
  --background-color-soft: #fcfcfd; /* New soft background */
  --border-color-light: #d9d9d9;
  --border-color-dark: #eae7e7;

  /* Status Colors */
  --success-color: #6d9b7fff;
  --warning-color: #f2cc8f;
  --error-color: #e07a5f;

  /* Report-Specific Colors */
  --income-header-bg: #e6f4ff;
  --income-header-text: #003a8c;
  --income-footer-bg: #d5dae7;
  --income-footer-text: #0a026c;
  --income-total-bg: #f6ffed;
  --income-total-text: #52c41a;

  --expense-header-bg: #fff2e8;
  --expense-header-text: #d4380d;
  --expense-footer-bg: #ffd8bf;
  --expense-footer-text: #871400;
  --expense-total-bg: #fffbe6;
  --expense-total-text: #d48806;

  --ant-error-1: #fff1f0;

  --app-background: #282c34;
  --react-logo-color: #61dafb;

  --layout-background: #f0f2f5;

  --expense-color: #5878a4;
  --difference-color: #f5222d;
  --neutral-color: #595a5c;
  --border-color-light-alt: #e0e0e0;

  --income-palette-1: #83c41a;
  --income-palette-2: #60d483;
  --income-palette-3: #8ce88f;
  --income-palette-4: #8ecaa4;

  --expense-palette-1: #1890ff;
  --expense-palette-2: #69b1ff;
  --expense-palette-3: #91caff;
  --expense-palette-4: #bfdfff;

  --shadow-color-15: rgba(0, 0, 0, 0.15);
  --white-color-85: rgba(255, 255, 255, 0.85);
  --white-color-10: rgba(255, 255, 255, 0.1);
  --black-color-20: rgba(0, 0, 0, 0.2);

  --white-color-90: rgba(255, 255, 255, 0.9);
  --white-color-20: rgba(255, 255, 255, 0.2);
  --shadow-color-10: rgba(0, 0, 0, 0.1);

  --shadow-color-08: rgba(0, 0, 0, 0.08);
  --primary-color-20: rgba(58, 118, 168, 0.2);

  --divider-color: rgba(5, 5, 5, 0.06);
  --text-color-45: rgba(0, 0, 0, 0.45);

  --shadow-color-05: rgba(0, 0, 0, 0.05);

  /* Border Radius */
  --border-radius-sm: 4px;
  --border-radius-base: 8px;
  --border-radius-lg: 12px;

  /* Spacing System */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}
