.app-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #255271; /* sidebar'dan daha açık koyu */
  padding: 10px 24px;
  color: white;
  border-bottom: 1px solid #1f2d3d;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.welcome-text {
  font-size: 15px;
  color: #fff;
}

/* Büyük profil avatarı */
.profile-avatar {
  cursor: pointer;
  background-color: #1890ff;
}

/* Dropdown stilleri */
.profile-dropdown-menu {
  min-width: 200px !important;
  padding: 10px 12px;
}

.dropdown-user-info {
  line-height: 1.4;
  padding: 10px 12px;
  cursor: default;
}
